.pcolor {
    background-color: #0f9015!important;
}

.ptext {
    color: #0f9015;
}
.card{
    height:90%!important;
    
}
.img-height{
    height:100%!important;
}




.pborder {
    border-color: #e7e9eb !important;
}

.bg-grey {
    background-color: #f1f3f6;
}





